  font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* Contacts page search box */
#contactsPage #searchText {
  text-align: center;
  margin-left: 4%;     /* centers typed text */
}

#contactsPage #searchText::placeholder {
  text-align: center;     /* centers placeholder */
}
